h1 {margin-top: 0;}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
 }

form {
	border-radius: 1em;
	border: 1px solid #ccc;
	margin: 0 auto;
	padding: 1em;
	width: 400px;
 }

div div {margin-top: 1em;}

label span {
	display: inline-block;
	text-align: right;
	width: 120px;
 }

input,
textarea {
	border: 1px solid #999;
	box-sizing: border-box;
	font: 1em sans-serif;
	width: 250px;
 }

input[type=checkbox],
input[type=radio] {
	border: none;
	width: auto;
 }

input:focus,
textarea:focus {border-color: #000;}

textarea {
	height: 5em;
	resize: vertical;
	vertical-align: top;
 }

fieldset {
	border: 1px solid #999;
	box-sizing: border-box;
	margin-left: 136px;
	width: 250px;
 }

button {margin: 20px 0 0 124px;}

label {position: relative;}

	label em {
		position: absolute;
		right: 5px;
		top: 20px;
	 }

btn-default {
	background-color: #fff;
	border-color: #ccc;
	color: #333;
 }

btn {
	-moz-user-select: none;
	-ms-touch-action: manipulation;
	-ms-user-select: none;
	-webkit-user-select: none;
	background-image: none;
	border-radius: 4px;
	border: 1px solid transparent;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	margin-bottom: 0;
	padding: 6px 12px;
	text-align: center;
	touch-action: manipulation;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
 }
